.home-page {
  background: url("../../images/desk.jpg") no-repeat center center fixed;
  display: flex;
  box-sizing: border-box;
  background-size: cover;
  height: 85vh;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  top: 10vh;
}

.authentication-info {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  flex-direction: column;
  margin: 0px 0px 100px 0px;
  padding: 20px 20px;
}

.profile-display {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-box {
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100vw;
}

.notes {
  border: solid white thin;
  margin-left: 350px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 25px;
  -webkit-box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.quotes {
  margin-right: 350px;
  color: white;
  border: solid white thin;
  font-size: 25px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  -webkit-box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.journal {
  border: solid white thin;
  font-size: 25px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  -webkit-box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.update {
  position: relative;
  font-size: 20px;
  bottom: 110px;
  cursor: pointer;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
  border: solid white thin;
  padding: 2px;
}

.username {
  position: relative;
  bottom: 115px;
  font-size: 45px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgba(0, 0, 0, 0.35);
  color: #fff;
}

.update-title {
  position: relative;
  bottom: 40px;
  font-size: 45px;
  color: white;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.inputs {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border: white solid thin;
  border-radius: 1px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 20px;
  color: white;
  -webkit-box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  box-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.updating-box {
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.finished {
  margin-bottom: 100px;
}

button {
  height: 28px;
}

@media (max-width: 775px) {
  .link-box {
    width: 100vw;
    margin-top: 40px;
  }

  .notes {
    margin-left: 50px;
    font-size: 35px;
  }

  .quotes {
    margin-right: 50px;
    font-size: 35px;
  }

  .journal {
    font-size: 35px;
    color: white;
  }

  .update {
    font-size: 35px;
    bottom: 110px;
  }

  .username {
    bottom: 115px;
    font-size: 60px;
  }

  .update-title {
    bottom: 40px;
    font-size: 60px;
    margin-left: 60px;
    margin-bottom: 60px;
  }

  .inputs {
    font-size: 35px;
    text-align: center;
  }

  .updating-box {
    margin-bottom: 30px;
  }

  .finished {
    margin-bottom: 190px;
    font-size: 35px;
  }
}
@media (max-width: 450px) {
  .link-box {
    margin-top: 20px;
    margin-bottom: 120px;
  }

  .notes {
    margin-left: 10px;
    font-size: 35px;
  }

  .quotes {
    margin-right: 10px;
    font-size: 35px;
  }

  .journal {
    font-size: 35px;
    color: white;
  }

  .update {
    font-size: 30px;
    bottom: 110px;
    margin: 0px 0px 0px 0px;
  }

  .username {
    margin-top: 115px;
    bottom: 115px;
    font-size: 35px;
  }

  .update-title {
    bottom: 40px;
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 0px;
  }

  .inputs {
    font-size: 25px;
  }

  .updating-box {
    margin-bottom: 30px;
  }

  .finished {
    margin-bottom: 225px;
  }
}
